html {
    background-color: black;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scrollbar-width: none;
}

.navbar {
    background-color: black;
    padding-left:20px;
    padding-right: 20px;
    display: flex;
    font-size: small;
    justify-content: space-between;
    color:aliceblue;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: sticky;
    top:0;
}

ul {
    margin: 0 0 0 0 ;
    color:rgba(240, 248, 255, 0.767);
    display: flex;
    justify-content: space-between;
    align-items:center;
    list-style: none;
}

li:hover{
    color:aliceblue;
    cursor: pointer;
}

li {
    margin: 10px;;
}

.featured {
    width: 100vw;
    height: 60vh;
    display: grid; 
    grid-auto-rows: auto;    
}

button {
    height:fit-content;
    width: fit-content;
    font-weight: 500;
    font-size: x-large;
    padding-left:32px;
    padding-right: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
}

.play {
    background-color: aliceblue;
    border-style: none;
    border-radius: 2px;
}

.container {
    font-size:small;
}

.cards{
    display: flex;
    scrollbar-width: none;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y:visible;
}

.card {
    margin: 10px;
    transition: ease-in-out;
    flex: 0 0 auto;
    overflow:hidden;
    height:120px;
    width:220px;
    border-radius: 4px;
}

.card:hover{
    transform: scale(1.2);
}

.thumbnail {
    object-fit: contain;

}

.featimg {
    object-fit:fill;
}

h2 {
    margin: 10px;
}

h1 {
    margin:10px;
}